@charset "UTF-8";
/* CSS Document */


#bluebox p.download { padding: 5px; }
#bluebox p.download a { background: url(../images/bluebox-dl.gif) no-repeat 50%; width: 120px; height: 30px; display: block; padding: 15px 0 0; }
#bluebox p.download a:hover { background: url(../images/bluebox-dl.gif) no-repeat 50%; }

.older { padding: 0; height: 40px; }
.older a { background: url(../images/older-posts.gif) no-repeat 50%; padding: 1px 10px; display: block; font-size: 9px; }
.older a:hover { background: url(../images/older-posts.gif) no-repeat 50%; color: #ffcb05; }

.blog-post { width: 680px; }


.blog-post-text { width: 540px; float: left; float: right; }
.blog-meta { width: 140px; float: left; }
.blog-comments { border-bottom: 1px solid #CCC; padding: 0 0 14px; margin: -28px 0 0; float: left; width: 700px;}
.blog-comments a { background: url(../images/comments.gif) no-repeat 0 50%; padding: 5px 0 5px 30px; }


h1 { display: block; float: left; width: 700px; }