@charset "UTF-8";
/* CSS Document */


#bluebox p.download { padding: 5px; }
#bluebox p.download a { background: url(../images/bluebox-dl.gif) no-repeat 50%; width: 120px; height: 30px; display: block; padding: 15px 0 0; margin: 0 auto; }
#bluebox p.download a:hover { background: url(../images/bluebox-dl.gif) no-repeat 50%; }

.older { padding: 0; height: 40px; }
.older a { background: url(../images/older-posts.gif) no-repeat 50%; padding: 1px 10px; display: block; font-size: 9px; }
.older a:hover { background: url(../images/older-posts.gif) no-repeat 50%; color: #ffcb05; }