<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title class="config:app-title">App Title</title>
        <meta class="config:app-meta"/>
        <link rel="shortcut icon" href="resources/images/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="resources/css/exist.css"/>
        <script type="text/javascript" src="$shared/resources/scripts/jquery/jquery-1.7.1.min.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/jquery/jquery.scrollExtend.min.js"/>
    </head>
    <body id="body">
        <div id="grey-top">
            <div id="grey-bot">
                <div id="container">
                    <div id="header">
                        <a class="config:expand-links" href="/" id="logo">eXistDB</a>
                    </div><!--/header-->
                    <div id="navigation" class="config:expand-links?base=http://exist-db.org/">
                        <ul id="nav" class="dropdown dropdown-horizontal">
                            <li class="dir" id="about">
                                <span>Home</span>
                                <ul>
                                    <li>
                                        <a href="{dashboard}">Dashboard</a>
                                    </li>
                                    <li>
                                        <a href="http://exist-db.org">eXist-db.org</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dir" id="demo">
                                <span>Demo</span>
                                <ul>
                                    <li>
                                        <a href="{demo}/index.html">Overview</a>
                                    </li>
                                    <li>
                                        <a href="{demo}/examples/basic/basics.html">Basic XQuery Examples</a>
                                    </li>
                                    <li>
                                        <a href="{demo}/examples/basic/xquery3.html">XQuery 3.0 Examples</a>
                                    </li>
                                    <li>
                                        <a href="{demo}/examples/web/index.html">Web Examples</a>
                                    </li>
                                    <li>
                                        <a href="{demo}/examples/urlrewriting/index.html">URL Rewriting</a>
                                    </li>
                                    <li>
                                        <a href="{demo}/examples/special/index.html">Special Features</a>
                                    </li>
                                    <li>
                                        <a href="{demo}/templates.html">Templating</a>
                                    </li>
                                    <li>
                                        <a href="{demo}/cex-demo.html">Content Extraction</a>
                                    </li>
                                    <li>
                                        <a href="{demo}/examples/tests/test.html">Unit Testing</a>
                                    </li>
                                    <li>
                                        <a href="{demo}/examples/xforms/demo.html">XForms and RestXQ</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dir" id="documentation">
                                <span>Documentation</span>
                                <ul>
                                    <li>
                                        <a href="{doc|documentation.xml}">Documentation</a>
                                    </li>
                                    <li>
                                        <a href="{xqfdoc}">XQuery Functions</a>
                                    </li>
                                    <li>
                                        <a href="http://atomic.exist-db.org">News / Wiki</a>
                                    </li>
                                    <li>
                                        <a href="http://en.wikibooks.org/wiki/XQuery">XQuery Wikibook</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dir" id="development">
                                <span>Development</span>
                                <ul>
                                    <li>
                                        <a href="{eXide}">eXide</a>
                                    </li>
                                    <li>
                                        <a href="http://exist-db.org/api/index.html">Javadocs</a>
                                    </li>
                                    <li>
                                        <a href="http://sourceforge.net/tracker/?group_id=17691&amp;atid=117691">Bug Tracker</a>
                                    </li>
                                    <li>
                                        <a href="http://sourceforge.net/svn/?group_id=17691">Subversion</a>
                                    </li>
                                    <li>
                                        <a href="http://sourceforge.net/tracker/?atid=317691&amp;group_id=17691&amp;func=browse">Submit Patches</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dir" id="administration">
                                <span>Administration</span>
                                <ul>
                                    <li>
                                        <a href="{dashboard}">Dashboard</a>
                                    </li>
                                    <li>
                                        <a href="/webstart/exist.jnlp">Webstart Client</a>
                                    </li>
                                    <li>
                                        <a href="/admin/">Admin Web Client</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="container" id="main">
                        <div class="row" id="container-body">
                            <!-- Page content will be injected into the div below -->
                            <div class="span12" id="content"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            <ul>
                <li>
                    <a class="config:expand-links" href="/">Homepage</a>
                </li>
            </ul>
            <div id="copyright">
                <p>Copyright eXist-db Project 2012</p>
            </div><!--/copyright-->
        </div><!--/footer-->
        <script type="text/javascript" src="$shared/resources/scripts/ace/ace.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/ace/mode-javascript.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/ace/mode-text.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/ace/mode-xquery.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/ace/mode-java.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/ace/mode-css.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/ace/mode-xml.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/ace/theme-tomorrow_night.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/ace/theme-dawn.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/highlight.js"/>
        <script type="text/javascript" src="resources/scripts/demo.js"/>
    </body>
</html>