<?xml version="1.0" encoding="UTF-8"?>
<html>
    <head>
        <title>Demo App</title>
        <link rel="shortcut icon" href="resources/images/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="resources/css/exist.css"/>
        <link href="resources/scripts/shCore.css" rel="stylesheet" type="text/css"/>
        <link href="resources/scripts/shThemeDefault.css" rel="stylesheet" type="text/css"/>
        <link href="http://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet" type="text/css"/>
        <script type="text/javascript" src="libs/scripts/jquery/jquery-1.7.1.min.js"/>
        <script type="text/javascript" src="resources/scripts/jquery.scrollExtend.min.js"/>
        <script type="text/javascript" src="resources/scripts/shCore.js"/>
        <script type="text/javascript" src="resources/scripts/shBrushXQuery.js"/>
        <script type="text/javascript" src="resources/scripts/shBrushXml.js"/>
        <script type="text/javascript" src="resources/scripts/shBrushPlain.js"/>
    </head>
    <body id="body">
        <div id="grey-top">
            <div id="grey-bot">
                <div id="container">
                    <div id="header">
                        <a class="demo:link-to-home" href="/" id="logo">eXistDB</a>
                    </div><!--/header-->
                    <div id="navigation" class="templates:fix-links?root=context">
                        <ul id="nav" class="dropdown dropdown-horizontal">
                            <li class="dir" id="about">
                                <span>About Us</span>
                                <ul>
                                    <li>
                                        <a href="/credits.xml">Who we are</a>
                                    </li>
                                    <li>
                                        <a href="/acknowledge.xml">Acknowledgements</a>
                                    </li>
                                    <li>
                                        <a href="http://atomic.exist-db.org/blogs/eXist/Press/">Press/Contact</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dir" id="documentation">
                                <span>Documentation</span>
                                <ul>
                                    <li>
                                        <a href="/quickstart.xml">Quick Start</a>
                                    </li>
                                    <li>
                                        <a href="/xquery/functions.xql">Function Library</a>
                                    </li>
                                    <li>
                                        <a href="/documentation.xml">Main Documentation</a>
                                    </li>
                                    <li>
                                        <a href="http://en.wikibooks.org/wiki/XQuery">XQuery Wikibook</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dir" id="community">
                                <span>Community</span>
                                <ul>
                                    <li>
                                        <a href="/index.xml#mailing">Mailing List/IRC</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dir" id="development">
                                <span>Development</span>
                                <ul>
                                    <li>
                                        <a href="/eXide/">eXide (XQuery IDE)</a>
                                    </li>
                                    <li>
                                        <a href="/api/index.html">Javadocs</a>
                                    </li>
                                    <li>
                                        <a href="http://sourceforge.net/tracker/?group_id=17691&amp;atid=117691">Bug Tracker</a>
                                    </li>
                                    <li>
                                        <a href="http://sourceforge.net/svn/?group_id=17691">Subversion</a>
                                    </li>
                                    <li>
                                        <a href="http://sourceforge.net/tracker/?atid=317691&amp;group_id=17691&amp;func=browse">Submit Patches</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dir" id="administration">
                                <span>Administration</span>
                                <ul>
                                    <li>
                                        <a href="/admin/admin.xql">Admin</a>
                                    </li>
                                    <li>
                                        <a href="/webstart/exist.jnlp">Webstart Client</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="container" id="main">
                        <div class="row" id="container-body">
                            <!-- Page content will be injected into the div below -->
                            <div class="span9" id="content"/>
                            <div class="span3">
                                <div class="box templates:fix-links">
                                    <h2>Demo Pages</h2>
                                    <ol>
                                        <li>
                                            <a href="/examples/basic/basics.html">Basic XQuery Examples</a>
                                        </li>
                                        <li>
                                            <a href="/examples/basic/xquery3.html">XQuery 3.0 Examples</a>
                                        </li>
                                        <li>
                                            <a href="/examples/web/index.html">Web Examples</a>
                                        </li>
                                        <li>
                                            <a href="/examples/urlrewriting/index.html">URL Rewriting</a>
                                        </li>
                                        <li>
                                            <a href="/examples/special/index.html">Special Features</a>
                                        </li>
                                        <li>
                                            <a href="/templates.html">Templating</a>
                                        </li>
                                        <li>
                                            <a href="/cex-demo.html">Content Extraction</a>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            <ul>
                <li>
                    <a class="demo:link-to-home" href="/">Homepage</a>
                </li>
            </ul>
            <div id="copyright">
                <p>Copyright eXist-db Project 2012</p>
            </div><!--/copyright-->
        </div><!--/footer-->
        <script type="text/javascript">
            SyntaxHighlighter.all()
        </script>
    </body>
</html>