<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <title class="config:app-title">App Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta class="config:app-meta"/>
        <link rel="shortcut icon" href="$shared/resources/images/exist_icon_16x16.ico"/>
        <link rel="stylesheet" type="text/css" href="resources/css/demo.css"/>
        <script type="text/javascript" src="$shared/resources/scripts/jquery/jquery-1.7.1.min.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/bootstrap-3.0.3.min.js"/>
    </head>
    <body id="grey-top">
        <div class="grey-bot" data-template="site:expand-links" data-template-base="http://exist-db.org/">
            <div class="container" id="main-container">
                <div class="row">
                    <div class="col-md-12" id="header">
                        <a href="/" id="logo">eXistDB</a>
                    </div>
                </div>
                <div class="row">
                    <nav class="navbar navbar-default" role="navigation" data-template="site:expand-links">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"/>
                            <span class="icon-bar"/>
                            <span class="icon-bar"/>
                        </button>
                        <div class="navbar-collapse collapse" id="navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="dropdown" id="about">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="{dashboard}/index.html">Dashboard</a>
                                        </li>
                                        <li>
                                            <a href="http://exist-db.org">eXist-db.org</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown" id="demo">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Demo</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="{demo}/index.html">Overview</a>
                                        </li>
                                        <li>
                                            <a href="{demo}/examples/basic/basics.html">Basic XQuery Examples</a>
                                        </li>
                                        <li>
                                            <a href="{demo}/examples/basic/xquery3.html">XQuery 3.0 Examples</a>
                                        </li>
                                        <li>
                                            <a href="{demo}/examples/web/index.html">Web Examples</a>
                                        </li>
                                        <li>
                                            <a href="{demo}/examples/urlrewriting/index.html">URL Rewriting</a>
                                        </li>
                                        <li>
                                            <a href="{demo}/examples/special/index.html">Special Features</a>
                                        </li>
                                        <li>
                                            <a href="{demo}/examples/templating/templates.html">Templating</a>
                                        </li>
                                        <li>
                                            <a href="{demo}/cex-demo.html">Content Extraction</a>
                                        </li>
                                        <li>
                                            <a href="{demo}/examples/tests/test.html">Unit Testing</a>
                                        </li>
                                        <li>
                                            <a href="{demo}/examples/xforms/">XForms and RestXQ</a>
                                        </li>
                                        <li>
                                            <a href="{demo}/examples/contacts/html/home.html?browseContacts">RestXQ and AngularJS</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown" id="documentation">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Documentation</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="{doc}/documentation.xml">Documentation</a>
                                        </li>
                                        <li>
                                            <a href="{fundocs}/index.html">XQuery Functions</a>
                                        </li>
                                        <li>
                                            <a href="{doc}/getting-help.xml">Get Support</a>
                                        </li>
                                        <li>
                                            <a href="http://atomic.exist-db.org">News / Wiki</a>
                                        </li>
                                        <li>
                                            <a href="http://en.wikibooks.org/wiki/XQuery">XQuery Wikibook</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown" id="development">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Development</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="{eXide}/index.html">eXide</a>
                                        </li>
                                        <li>
                                            <a href="http://exist-db.org/api/index.html">Javadocs</a>
                                        </li>
                                        <li>
                                            <a href="http://sourceforge.net/p/exist/bugs/">Bug Tracker</a>
                                        </li>
                                        <li>
                                            <a href="http://sourceforge.net/p/exist/code/">Subversion</a>
                                        </li>
                                        <li>
                                            <a href="http://sourceforge.net/p/exist/patches/">Submit Patches</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown" id="administration">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administration</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="{dashboard}/index.html">Dashboard</a>
                                        </li>
                                        <li>
                                            <a href="/webstart/exist.jnlp">Webstart Client</a>
                                        </li>
                                        <li>
                                            <a href="/admin/">Admin Web Client</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div id="container-body" class="row">
                    <div class="col-md-12" id="content"/>
                </div>
            </div>
        </div>
        <div id="footer">
            <div id="copyright">
                <p>Copyright eXist-db Project 2013</p>
            </div>
        </div>
        <div data-template="templates:unless-model-key-equals" data-template-key="noscript" data-template-value="yes">
            <script type="text/javascript" src="$shared/resources/scripts/jquery/jquery.scrollExtend.min.js"/>
            <script type="text/javascript" src="$shared/resources/scripts/ace/ace.js"/>
            <script type="text/javascript" src="$shared/resources/scripts/ace/mode-javascript.js"/>
            <script type="text/javascript" src="$shared/resources/scripts/ace/mode-text.js"/>
            <script type="text/javascript" src="$shared/resources/scripts/ace/mode-xquery.js"/>
            <script type="text/javascript" src="$shared/resources/scripts/ace/mode-java.js"/>
            <script type="text/javascript" src="$shared/resources/scripts/ace/mode-css.js"/>
            <script type="text/javascript" src="$shared/resources/scripts/ace/mode-xml.js"/>
            <script type="text/javascript" src="$shared/resources/scripts/ace/theme-tomorrow_night.js"/>
            <script type="text/javascript" src="$shared/resources/scripts/ace/theme-dawn.js"/>
            <script type="text/javascript" src="$shared/resources/scripts/highlight.js"/>
            <script type="text/javascript" src="$shared/resources/scripts/loadsource.js"/>
            <script type="text/javascript" src="resources/scripts/demo.js"/>
        </div>
    </body>
</html>